.number{
  text-align: center;
  font-size: 4em;
  -webkit-animation-duration: .4s;
  animation-duration: .4s;
}


@keyframes zoomIn {
  0% {font-size: 0em;}
  100% {font-size: 4em;}
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
