<div class="answers">
  <ion-grid class="answerGrid">
    <ion-row>
      <ion-col>
        <div (click)="emitChoice(answerChoice1)">
          {{answerChoice1}}
        </div>
      </ion-col>
      <ion-col>
        <div (click)="emitChoice(answerChoice2)">
          {{answerChoice2}}
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
         <div (click)="emitChoice(answerChoice3)">
          {{answerChoice3}}
         </div>
      </ion-col>
      <ion-col>
         <div (click)="emitChoice(answerChoice4)">
          {{answerChoice4}}
         </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
