<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Math II Music Experience
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">The Math II Music Experience</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)="startAddition()">
          <ion-card-header>
            <ion-card-title>Addition</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Solve the addition problems to gain different musical instruments.  Collect all the instruments to make a song.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="startSubtraction()">
          <ion-card-header>
            <ion-card-title>Subtraction</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Solve the subtraction problems to gain different musical instruments.  Collect all the instruments to make a song.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-card (click)="startMultiplication()">
          <ion-card-header>
            <ion-card-title>Multiplication</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Solve multiplication problems to gain different musical instruments.  Collect all the instruments to make a song.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="startDivision()">
          <ion-card-header>
            <ion-card-title>Division</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Solve the division problems to gain different musical instruments.  Collect all the instruments to make a song.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
