<problem-display [firstNumber]="currentProblem.firstNumber"  [secondNumber]="currentProblem.secondNumber"
[showAnswer]="!answerIsCorrect" [problemType]="problemType" [answer]="currentProblem.answer">

</problem-display>

<answer-choices [answerChoice1]="currentProblem.possibleAnswers[0]"
[answerChoice2]="currentProblem.possibleAnswers[1]"
[answerChoice3]="currentProblem.possibleAnswers[2]"
[answerChoice4]="currentProblem.possibleAnswers[3]" (emitChoiceEvent)="checkAnswer($event)">

</answer-choices>

<emotion-card [show]="showPraiseCard" [answerIsCorrect]= "answerIsCorrect">
</emotion-card>
