<problem-display [firstNumber]="currentProblem.firstNumber"  [secondNumber]="currentProblem.secondNumber"
[showAnswer]="!answerIsCorrect" [problemType]="problemType" [answer]="currentProblem.answer">

</problem-display>

<answer-choices [answerChoice1]="currentProblem.possibleAnswers[0]"
[answerChoice2]="currentProblem.possibleAnswers[1]"
[answerChoice3]="currentProblem.possibleAnswers[2]"
[answerChoice4]="currentProblem.possibleAnswers[3]" (emitChoiceEvent)="checkAnswer($event)">

</answer-choices>

<emotion-card [show]="showPraiseCard" [answerIsCorrect]= "answerIsCorrect">
</emotion-card>
<ion-modal [isOpen]= "openResults" (didDismiss)="returnToMainMenu()">
  <ng-template>
    <ion-content>
      <div class="resultsContainer">
        <div class="resultsText zoomIn">
          Results:
        </div>
        <div class="resultInfo">
          <div class="resultInfoText zoomIn2">
            {{rightAnswerCount}} out of {{numberOfProblems}} correct
          </div>
          <div class="score resultInfoText zoomIn2">
            Score: {{(rightAnswerCount/numberOfProblems)*100}}%
          </div>
        </div>

        <div>
          <ion-button (click)="closeModal()">
            Return To Main Menu
          </ion-button>
        </div>
      </div>

    </ion-content>
  </ng-template>
</ion-modal>
