<ion-header>
  <ion-toolbar>
    <ion-title>Addition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="inventoryArea">

  </div>

  <div class="number zoomIn" [hidden]="answerIsCorrect">
    {{currentProblem?.firstNumber}} + {{currentProblem?.secondNumber}} = ?
  </div>
  <div class="number" [hidden]="!answerIsCorrect">
    {{currentProblem?.firstNumber}} + {{currentProblem?.secondNumber}} = {{currentProblem.answer}}
  </div>
  <div class="answers">
    <ion-grid class="answerGrid">
      <ion-row>
        <ion-col>
          <div (click)="checkAnswer(currentProblem?.possibleAnswers[0])">
            {{currentProblem?.possibleAnswers[0]}}
          </div>
        </ion-col>
        <ion-col>
          <div (click)="checkAnswer(currentProblem?.possibleAnswers[1])">
            {{currentProblem?.possibleAnswers[1]}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
           <div (click)="checkAnswer(currentProblem?.possibleAnswers[2])">
            {{currentProblem?.possibleAnswers[2]}}
           </div>
        </ion-col>
        <ion-col>
           <div (click)="checkAnswer(currentProblem?.possibleAnswers[3])">
            {{currentProblem?.possibleAnswers[3]}}
           </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>
  <div class="emotionCard {{answerIsCorrect?'praiseCard':'failCard'}}" *ngIf="showPraiseCard">
     <div *ngIf="answerIsCorrect">
       Correct!!!!
     </div>
     <div *ngIf="!answerIsCorrect">
      Incorrect
    </div>
  </div>
</ion-content>
