<ion-header>
  <ion-toolbar>
    <ion-title>Addition</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="inventoryArea">

  </div>

  <div class="number zoomIn" [hidden]="answerIsCorrect">
    {{currentProblem?.firstNumber}} + {{currentProblem?.secondNumber}} = ?
  </div>
  <div class="number" [hidden]="!answerIsCorrect">
    {{currentProblem?.firstNumber}} + {{currentProblem?.secondNumber}} = {{currentProblem.answer}}
  </div>

  <answer-choices [answerChoice1]="currentProblem?.possibleAnswers[0]"
  [answerChoice2]="currentProblem?.possibleAnswers[1]"
  [answerChoice3]="currentProblem?.possibleAnswers[2]"
  [answerChoice4]="currentProblem?.possibleAnswers[3]" (emitChoiceEvent)="checkAnswer($event)">

  </answer-choices>

  <emotion-card [show]="showPraiseCard" [answerIsCorrect]= "answerIsCorrect">
  </emotion-card>
</ion-content>
